/* #region Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* #endregion Common */

/* #region Debug */
/* #endregion Debug */

/* #region Utilities */
/* #endregion Utilities */

/* #region Body */
/* #endregion Body */